@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

}

<h3>Listado de servicios</h3>

<hr />
<div class="container">

    <table class="table table-striped" id="tblFacturas">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Precio</th>
                
                
                <th>Opciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {

                <tr>
                    <th>@item.Nombre</th>
                    <td>@item.Descripcion</td>
                    <td>@item.Precio</td>
                                        
                    <td>
                        <a class="btn btn-info btn-sm btnEditarFactura" href="@Url.Action("EditarServicio", "Servicio", new { id = item.Id })">Editar</a>
                        <a class="btn btn-warning btn-sm disabled">Eliminar</a>
                    </td>
                </tr>
            }


        </tbody>
    </table>
</div>